{% extends "blog/_blog.html" %}
{% block title %}This is the first blogpost{% endblock title %}
{% block heading_one %}This is the first blogpost{% endblock heading_one %}
{% block blog_content %}
        <p>There are <em>many</em> subjects that we <ins>could</ins> consider writing a blog post about. <strong>This is just the first one</strong>.</p>
        <blockquote>
            "Once you start a blog, it's important to never write in it again. That would achieve success, and we should avoid this at all costs."<br>
            <cite>&mdash; ekulbyrnes</cite>
        </blockquote>

{% endblock blog_content %}
