{% extends "blog/_blog.html" %}
{% block title %}Blog{% endblock title %}
{% block heading_one %}Blog{% endblock heading_one %}
{% block content %}
        <!-- content goes here -->
            <article>
                <h2>
                    <a href="2024102801-blogging.html">This is the first blogpost</a>
                </h2>
                <p><time datetime="2024-10-28">October 28, 2024</time></p>
                <p>This is the first blogpost. It is fortunately, not the last, as you'll soon discover.</p>
            </article>
            <article>
                <h2>
                    <a href="2024102901-pycon.html">Pycon</a>
                </h2>
                <p><time datetime="2024-10-29">October 29, 2024</time></p>
                <p>This blogpost is about PyCon. Read it soon before ti disappears!</p>
            </article>
            <article>
                <h2>
                    <a href="2024103001-halloween.html">Halloween</a>
                </h2>
                <p><time datetime="2024-10-30">October 30, 2024</time></p>
                <p>This is Halloween, this is halloween! It's gonna be sPoOkY!</p>
            </article>
{% endblock content %}
