{% extends "_base.html" %}
{% set active_page = "about" %}
{% block title %}Luke's Homepage{% endblock title %}
{% block heading_one %}About Luke{% endblock heading_one %}
{% block content %}
            <img src="images/avatar.jpg" alt="Photograph of webhost. Person is wearing glasses and a cobalt blue t-shirt with a graphic over a red jumper, with a pink lanyard that says 'GovHack'. Person is leaning on a tabletop bench." width="300">

            <p>My name is Luke. I enjoy making websites and teaching others to do the same. I created ScoutHack to provide opportunities for young people to get an insight into real tech experiences while they have access to great mentors.</p>

            <p>ScoutHack is a fun and exciting program that teaches young people to build a simple website using HTML, CSS, and Python. JavaScript is avoided at all costs - website development shouldn't start with torture.</p>

            <p class="notice">
                <strong>Want to learn more about ScoutHack?</strong>
                <br>Check out <a href="https://scouthack.com/" target="_blank">our website</a> to see what we're all about! ScoutHack is available for Scouts, Venturers, and Rovers who are active members of <a href="https://scoutsvictoria.com.au/" target="_blank">Scouts Victoria</a>.</p>

            <p>🐘 <a href="https://infosec.exchange/@ekulbyrnes">Get social with me on Mastodon</a></p>

            <h2><code>ekulbyrnes</code></h2>
            <p>Luke uses the alias <code>ekulbyrnes</code> online</p>
{% endblock content %}
