{% extends "_base.html" %}
{% block title %}Luke's Homepage{% endblock title %}
{% block heading_one %}Luke's Homepage{% endblock heading_one %}
{% block content %}
            <img src="images/avatar.jpg" alt="Photograph of webhost. Person is wearing glasses and a cobalt blue t-shirt with a graphic over a red jumper, with a pink lanyard that says 'GovHack'. Person is leaning on a tabletop bench." width="300">

            <p>My name is Luke. I enjoy making websites and teaching others to do the same.</p>

            <h2><code>ekulbyrnes</code></h2>
            <p>Luke uses the alias <code>ekulbyrnes</code> online</p>

{% endblock content %}
