<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Luke's Homepage</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html" >Home</a>
                <a href="blog/index.html">Blog</a>
                <a href="about.html">About</a>
                <a href="interests.html" aria-current="page">Interests</a>
                <a href="priorities.html">Priorities</a>
                <a href="resume.html">Resume</a>
            </nav>

            <h2>Interests</h2>
        </header>

        <main>
            <ul>
                <li>Linux and Open Source Communities</li>
                <li>Scouts Victoria</li>
                <li>Amateur Radio</li>
            </ul>
        </main>
        <footer>
            <p>Made with ❤️ and ☕️ by Luke Byrnes.</p>
        </footer>
    </body>
</html>
