{% extends "_base.html" %}
{% set active_page = "priorities" %}
{% block title %}Luke's Homepage{% endblock title %}
{% block heading_one %}Current Priorities{% endblock heading_one %}
{% block content %}
            <!-- To Do: Change these priorities as the details change -->
            <ol>
                <li>Complete studies (Cert IV - Cybersecurity)</li>
                <li>Get a job</li>
                <li>Complete further studies</li>
                <li>Grow in job</li>
            </ol>
{% endblock content %}
