{% extends "_base.html" %}
{% set active_page = "resume" %}
{% block title %}Luke Byrnes{% endblock title %}
{% block heading_one %}Luke Byrnes{% endblock heading_one %}
{% block header %}
            <p><em>Systems Analyst: Project Management</em></p>
            <img src="images/avatar.jpg" alt="Photograph of webhost. Person is wearing glasses and a cobalt blue t-shirt with a graphic over a red jumper, with a pink lanyard that says 'GovHack'. Person is leaning on a tabletop bench." width="300">
{% endblock header %}
{% block content %}
            <section id="skills">
                <h2>Skills</h2>
                <ul style="columns: 2;">
                    <li>Software/Web development</li>
                    <ul>
                        <li>HTML / CSS</li>
                        <li>Python</li>
                        <ul>
                            <li>Django</li>
                            <li>Flask</li>
                        </ul>
                        <li>System administration</li>
                    </ul>
                    <ul>
                        <li>Windows / M365</li>
                        <ul>
                            <li>Windows Defender EDM threat management</li>
                            <li>Intune device deployment and management</li>
                            <li>Secure Access Workstation management</li>
                            <li>Application Support, M365</li>
                        </ul>
                        <li>macOS, iOS</li>
                        <ul>
                            <li>Endpoint enrolment in Azure</li>
                        </ul>
                        <li>Linux / UNIX</li>
                        <ul>
                            <li>RHEL / CentOS</li>
                            <li>Debian / Ubuntu</li>
                            <li>Servers and Workstations</li>
                            <li>*BSD</li>
                        </ul>
                        <li>Virtualisation / Containerisation</li>
                        <ul>
                            <li>VMWare / Proxmox and migrations</li>
                            <li>Docker / LXC</li>
                        </ul>
                        <li>Cloud Computing</li>
                        <ul>
                            <li>Azure, AWS Services Management</li>
                            <li>Digital Ocean, Linode, Akamai</li>
                        </ul>
                    </ul>

                </ul>
                <details>
                    <summary>Coming soon...</summary>
                    <p><ul>
                        <li>Rust</li>
                        <li>SQL</li>
                    </ul></p>
                </details>
            </section>
            <section id="experience">
                <h2>Experience</h2>

                <h3>Security Engineer</h3>

                <p>
                    <strong>Zoak Solutions</strong><br>
                    <time datetime="2023-08">August 2023</time> &ndash; <time datetime="2023-11">November 2023</time>
                </p>

                <ul>
                    <li>Maintain endpoint security posture through reconciliation of threats identified by Windows Defender.</li>
                    <li>Configure Intune MDM policies and deployments for devices across the realm, catering for Windows, macOS, and Linux endpoints.</li>
                    <li>Troubleshoot and resolve Windows licencing management for non-conformant devices using established upgrade paths.</li>
                    <li>Engage in tabletop exercises to prepare clients for improved incident response capabilities.</li>
                </ul>

            </section>
            <section id="projects">
                <h2>Selected Projects</h2>
            </section>

            <section id="certificates">
                <h2>Certificates</h2>
            </section>

            <section id="education">
                <h2>Education</h2>
            </section>

            <section id="accolades">
                <h2>Accolades</h2>
            </section>


{% endblock content %}
